<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--普通模式-->
    <bean id="user" class="com.github.bearboy.spring.ioc.overview.pojo.User">
        <property name="age" value="12"/>
        <property name="name" value="boy80"/>
    </bean>
    <!--定义i8n资源路径及解析bean-->
    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>information</value>
            </list>
        </property>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>
</beans>